<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Results Page</title>
    <style type="text/css">
        html, body {
            height: 100%;
            width: 100%;
        }
        .title {
        padding-top: 10%;
        }
        </style>
</head>


<body style= "background:linear-gradient(#FFFFFF, #C6CAC9, #9E9E9E  ";>

<div class="title">
<center>
    <h1> Your Results Are Below </h1>
</center>
    </div>
<center>
    <p> {{ job }} has a {{ percent }}% of being automated. </p>
</center>


</body>
</html>